* {
    box-sizing: border-box; /* Consider borders and indents in element sizes */
  }

  html {
    scroll-behavior: smooth; /* Smooth scrolling */
  }

  body {
    border: 1px solid red; /* Drawing element boundaries */
    display: flex; /* Flexbox layout */
    flex-direction: column; /* Direction of the flex container’s main axis */
    justify-content: space-between; /* Distribute items evenly. The first item is flush with the start, the last is flush with the end */
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-list {
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
  }